<aside class="container1">
    <div class="form-container">

        <h3>Registrar nuevos datos personales.</h3>

        <div class="contenedor2">
            <div class="contenedor_text">

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Tipo de Documento</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Primer Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>


            </div>

            <div class="contenedor_text">

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Documento</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Segundo Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>


                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Sexo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-dark" style="width: 100%;" (click)="addPersona()">Guardar</button>
    </div>

   
</aside>