<!-- 
<div class="formulario-actualizar">
    <input type="text" placeholder="ID" [(ngModel)]="id">
    <input type="text" placeholder="Tipo de Documento" [(ngModel)]="tipoDocumento">
    <input type="text" placeholder="Documento" [(ngModel)]="documento">
    <input type="text" placeholder="Nombre 1" [(ngModel)]="nombre1">
    <input type="text" placeholder="Nombre 2" [(ngModel)]="nombre2">
    <input type="text" placeholder="Apellido 1" [(ngModel)]="apellido1">
    <input type="text" placeholder="Apellido 2" [(ngModel)]="apellido2">
    <input type="text" placeholder="Fecha de Nacimiento" [(ngModel)]="fechaNacimiento">
    <input type="text" placeholder="Sexo" [(ngModel)]="sexo">
    
    <button (click)="actualizarDocumento()">Actualizar</button>
  </div>
   -->

<div class="container1">

  <div class="container_form">

    <div class="contenedor_text">
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Id</label>
        <input type="text" class="form-control" id="campo_id" placeholder="0001" >
        <button class="btn">Buscar</button>
      </div>
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Tipo de Documento</label>
        <input type="text" class="form-control" id="campo_tipoDocumento" placeholder="C.C | T.I | Pasaporte | P.P">
      </div>
    </div>

    <div class="contenedor_text">
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Nombre1</label>
        <input type="text" class="form-control" id="campo_Nombre1" placeholder="Pepito">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Nombre2</label>
        <input type="text" class="form-control" id="campo_Nombre2" placeholder="Segundo">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Apellido1</label>
        <input type="text" class="form-control" id="campo_Apellido1" placeholder="Perez">
      </div>
    </div>


    <div class="contenedor_text">
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Apellido2</label>
        <input type="text" class="form-control" id="campo_Apellido2" placeholder="Alvarez">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="campo_Fecha" placeholder="31/12/2999">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="campo_Sexo" placeholder="M">
      </div>
    </div>

    <button (click)="onActualizarPersona(persona)" class="btn">Actualizar</button>
  </div>
</div>