.container1{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-image: url(../../assets/5459.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.01%;
  padding: 50px;
}


  

.contenedor_text{
  width: 30%;
  margin-bottom: 20px;
  min-width: 250px;

}

.container_form{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin: 100px auto 0;
  gap: 20px;
}

.btn{
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 20;
  background-color: #6a11cb;
  color: white;
}